<div style="float:left">
  <table class="table table-striped table-bordered">
    <caption><h5>Leaderboard (<%= units %>)</h5></caption>
    <thead>
      <tr>
        <td>Rank</td>
        <td>Name</td>
        <td><div class="text-right">Total</div></td>
        <td><div class="text-right">Behind Leader</div></td>
      </tr>
    </thead>
    <tbody>
      <% leaderboard.each_with_index do |leader, index| %>
        <tr>
          <td><div class="text-center"><%= index + 1 %></div></td>
          <td><%= leader.name %></td>
          <td><div class="text-right"><%= leader.total_to_s %></div></td>
          <td><div class="text-right"><%= leader.behind_to_s %></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
