<h3><%= @race.name %></h3>
<h5><%= @race.interval_pretty %></h5>

<div class="row">

  <ul class="nav nav-tabs">
    <li class="active"><a href="#yellow" data-toggle="tab"><%= image_tag('yellow-jersey-small.png') %> Yellow Jersey</a></li>
    <li><a href="#kom" data-toggle="tab"><%= image_tag('polkadot-jersey-small.png') %> KoM Jersey</a></li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="yellow">
      <div id="distance" style="float:left;min-width: 400px; height: <%= @race.athlete_count * 100 %>px; width: 800px; margin: 0 auto"></div>
      <%= render :partial => "leaderboard", :locals => { units: @race.distance_units, leaderboard: @race.leaderboard_by_distance } %>
    </div>
    <div class="tab-pane fade" id="kom">
      <div id="climb" style="float:left;min-width: 400px; height: <%= @race.athlete_count * 100 %>px; width: 800px; margin: 0 auto"></div>
      <%= render :partial => "leaderboard", :locals => { units: @race.climb_units, leaderboard: @race.leaderboard_by_climb } %>
    </div>
  </div>

</div>

<div class="row">
  <div class="pagination">
    <ul>
      <%= @race.previous_link %>
      <%= @race.next_link %>
      <%= @race.this_week_link %>
    </ul>
  </div>
    
  <p>Your latests efforts not showing? <%= link_to('<i class="icon-refresh"></i> Refresh'.html_safe, race_path(@race)) %> TODO</p>
</div>

<script type="text/javascript">
      $(function () {
          var distance;
          var climb;

          $(document).ready(function() {

            distance = new Highcharts.Chart({
              colors: ['Gold'],
              chart: {
              renderTo: 'distance',
              animation: {
                duration: 1500,
                easing: 'easeOutBounce'
              },
              type: 'bar'
              },
              title: {
              text: 'Yellow Jersey'
              },
              xAxis: {
                  categories: <%= raw @race.names_by_distance.as_json %>,
                title: {
                  text: 'Athletes'
                }
              },
              yAxis: {
              min: 0,
              title: {
                text: 'Distance (<%= @race.distance_units %>)'
              },
              labels: {
              overflow: 'justify'
                      }
              },
              plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                location.href = this.options.url;
                            }
                        }
                    }
                },
                bar: {
                  dataLabels: {
                    enabled: true
                  }
                }
              },
              credits: {
              enabled: false
                       },
              series: [{
                animation: {
                  duration: 2000
                },
                name: 'Distance',
                data: <%= @race.distance.html_safe %>
              }],
              legend: {
                enabled: false
              } 
            });

            climb = new Highcharts.Chart({
              colors: ['Red'],
              chart: {
              renderTo: 'climb',
              animation: {
                duration: 1500,
                easing: 'easeOutBounce'
              },
              type: 'bar'
              },
              title: {
              text: 'KoM Jersey'
              },
              xAxis: {
                  categories: <%= raw @race.names_by_climb.as_json %>,
                title: {
                  text: 'Athletes'
                }
              },
              yAxis: {
              min: 0,
              title: {
                text: 'Climb (<%= @race.climb_units %>)'
              },
              labels: {
              overflow: 'justify'
                      }
              },
              plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                location.href = this.options.url;
                            }
                        }
                    }
                },
                bar: {
                  dataLabels: {
                    enabled: true
                  }
                }
              },
              credits: {
              enabled: false
                       },
              series: [{
                animation: {
                  duration: 2000
                },
                name: 'Climb',
                data: <%= @race.climb.html_safe %>
              }],
              legend: {
                enabled: false
              } 
            });
          });
    });
  </script>
